# Ham-or-spam specific requirements
beautifulsoup4==4.5.3
nltk==3.2.2

# Flask requirements
MarkupSafe==1.0
Werkzeug==0.12.1
Jinja2==2.9.6
Flask==0.12.1

# Flask Caching
Flask-Cache==0.13.1

# production server
gunicorn==19.7.1

# testing requirements
requests == 2.13.0

#geckodriver==0.18.0
pip==9.0.1
WTForms==2.0.1
